.loginRegister{
    min-height: 500px; /* justera så det täcker register-rutan */
    transition: min-height 0.2s ease;
}
.switchAuth {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.1em;
    margin-top: 2em;
    overflow: hidden;
}

.switchAuthBtn{
    margin-left: 1em;
    background-color: #cbbfbb;
    border: #cbbfbb;
    padding: 0.8em;
    border-radius: 1em;
    cursor: pointer;
}