.headerAndNav {
    border-bottom: 1px solid #858585;
}

@media (min-width: 768px) {
    .headerAndNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headerAndNav nav {
        margin-top: 2em;
    }
}

.dashboard {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

/* To style how myBookings component 
   looks like on startpage */
.myBookings {
    width: 50%;
}

.myBookings h1 {
    font-size: 1.4em;
    margin-left: 0.5em;
}

.myBookings .h2{
    margin-left: 0.7em;
}

.myBookings ul {
    display: flex;
    margin-top: 1em;
    /* Wont wrap to enable horisontal scroll instead */
    flex-wrap: nowrap;
    padding: 0;
    gap: 1.5em;
    overflow-x: auto;
    max-width: 100%;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: #888 #e8e8e8;
}

.myBookings ul::-webkit-scrollbar {
    height: 8px;  
}

.myBookings li {
    padding: 0.5em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}