.memberTableContainer {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  flex-grow: 1;

}

.memberTableContainer h2 {
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #fdded2;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 0.75rem 1rem;
  border-top: 1px solid #ddd;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 0.5rem;
}

.edit-btn:hover {
  color: green;
}

.delete-btn:hover {
  color: red;
}

.loadingContainerMembers{
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 45%;
}