/* Grundläggande styling för alla steg */
.mainContentChooseResource,
.mainContentChooseDateTime,
.mainContentConfirmBooking {
    font-family: 'Inter', sans-serif;
    width: 90%;
    max-width: 25em;
    margin: 2em auto;
    padding: 0 1em;
}

.componentHeader {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.chooseResource,
.chooseDateTime,
.confirmBooking {
    border: 1px solid rgb(137, 137, 137);
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    border-radius: 1em;

}

select {
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em;
    border: 1px solid #ccc;
}

.continueBtn {
    background-color: #61988E;
    border: none;
    border-radius: 0.3em;
    color: white;
    padding: 0.8em;
    font-size: 0.8em;
    margin-top: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.continueBtn:hover {
    background-color: #4e7d74;
}

.goBackBtn {
    background-color: #c06d78;
    border: #c06d78;
    color: white;
    border-radius: 0.3em;
    margin-top: 1em;
    padding: 0.2em;
    width: 20%;
    margin-left: 80%;
    cursor: pointer;
}

.goBackBtn:hover {
    background-color: #a6505c;
}

.bookingInfo {
    border: 1px solid grey;
    padding: 0.5em 0 0.5em 1.5em;
    border-radius: 1em;
}

.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirmation-popup p {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
}

.confirmation-popup button {
    margin-top: 1rem;
    background-color: #c06d78;
    border: #c06d78;
    color: white;
    border-radius: 0.3em;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1em;
}

.loadingContainerConfirmBooking{
    margin-top: 1em;
    margin-left: 45%;
}


/* Media queries för större skärmar */
@media (min-width: 768px) {

    .mainContentChooseResource,
    .mainContentChooseDateTime,
    .mainContentConfirmBooking {
        width: 50%;
    }

    .componentHeader {
        font-size: 1.4em;
    }
}

@media (min-width: 1024px) {

    .mainContentChooseResource,
    .mainContentChooseDateTime,
    .mainContentConfirmBooking {
        width: 25em;
    }

    .componentHeader {
        font-size: 1.4em;
    }

    select {
        font-size: 0.8em;
    }
}