.header h1{
    font-family: "Inter", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #F7A072;
    margin-left: 0.4em;
    text-shadow: 0 0.02em 0.07em #a46847d3
}
a{
    text-decoration: none;
}
@media (min-width: 768px) {
    .header h1{
        font-size: 3em;
        margin-left: 0.5em;
    }
}

@media (min-width: 1200px) {
    .header h1{
        font-size: 3.5em;
        margin-left: 1em;
    }
}